syntax:glob

.gitignore~
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
m4
missing
src/Makefile.in
src/*.o
src/*.lo
src/.libs
src/libbutton*
src/samplebutton
src/samplebutton.dSYM
stamp-h1

docs/_build
